@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: auto auto;
  height: 100vh;
  font-family: 'Roboto',Helvetica,Arial,sans-serif;
  max-width: 1366px;
}

.notification-panel {
  background: #e5e5e5;
  position: absolute;
  top: -12rem;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
}

.notification-panel .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 72rem;
  margin: auto;
  -webkit-font-smoothing: antialiased;
}

.notification-panel .content p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.429;
}

.notification-panel .content p a {
  color: #007bc1;
}

#toggle {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

#toggle + label {
  cursor: pointer;
  background: #007bc1;
  border-radius: 3px;
  padding: .5rem 1rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  white-space: nowrap;
}

#toggle + label:after {
  content: "Got it";
}

.container {
  -webkit-transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

#toggle:checked ~ .notification-panel {
  top: 0;
  position: fixed;
}

#toggle:checked ~ .container {
  margin-top: 8rem;
}

#toggle:checked + label:after {
  content: "Got it";
}

#showcase {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.6;
  background-image: url("/assets/work-desk__dustin-lee.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

#showcase .heroshot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 2rem;
  -webkit-font-smoothing: antialiased;
}

#showcase .heroshot h1 {
  line-height: 1.2;
  color: white;
}

#showcase .heroshot h2 {
  color: white;
}

#showcase .heroshot p {
  font-size: 1.7rem;
  max-width: 52rem;
  color: white;
}

#showcase .heroshot .button {
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: white 2px solid;
  padding: 1rem 2rem;
  border-radius: 3px;
  margin-top: 2rem;
  font-weight: 550;
}

#showcase .heroshot .button:hover {
  background: white;
  color: rgba(0, 0, 0, 0.5);
}

#showcase .heroshot .logo {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 4.3rem;
  left: 4.3rem;
}

#showcase .heroshot .logo img {
  width: 100%;
  height: 100%;
}

#showcase .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 123, 193, 0.3);
}

#hightlight-panel {
  background: #e5e5e5;
  padding: 4rem 2rem;
  font-size: 1.7rem;
}

#hightlight-panel > h1 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
}

#hightlight-panel > p {
  text-align: center;
  max-width: 60rem;
  margin: 2rem auto;
}

#hightlight-panel .tiles {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.6rem;
}

#hightlight-panel .tiles .content {
  padding: 2rem;
  border: 1px solid #cecece;
}

#hightlight-panel .tiles .content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.5rem;
}

#hightlight-panel .tiles .content .title h1 {
  font-weight: 400;
}

#hightlight-panel .tiles .content .title .logo i {
  font-size: 3rem;
  color: darkgrey;
}

#hightlight-panel .tiles .content p {
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: 1.429;
}

@media screen and (max-width: 480px) {
  .notification-panel {
    padding: 1.3rem 1.1rem 1.1rem 1.1rem;
    top: -16rem;
  }
  .notification-panel .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .notification-panel .content p {
    padding-bottom: 0.8rem;
  }
  #toggle:checked ~ .container {
    margin-top: 12rem;
  }
}

@media screen and (max-width: 363px) {
  #toggle:checked ~ .container {
    margin-top: 14rem;
  }
}

@media (min-width: 960px) {
  #hightlight-panel .tiles {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 959px) and (min-width: 481px) {
  #hightlight-panel .tiles {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  #hightlight-panel .tiles {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */