@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$blue        : #007bc1;
$dark-blue   : #004a75;
$orange      : #ff8000;
$dark-orange : #cc6600;
$smoke-grey  : #e5e5e5;

html{
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto auto;
    height: 100vh;
    font-family:'Roboto',Helvetica,Arial,sans-serif;
    max-width: 1366px;
}

.notification-panel {
    background: $smoke-grey;
    position: absolute;
    top: -12rem;
    left: 0;
    width: 100%;
    padding: 2rem;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: hidden;
    .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 72rem;
        margin: auto;
        -webkit-font-smoothing: antialiased;
        p{
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.429;
            a{
                color: $blue;
            }
        }
    }
}

#toggle {
    appearance: none;
    cursor: pointer;
}

#toggle + label {
    cursor: pointer;
    background: $blue;
    border-radius: 3px;
    padding: .5rem 1rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transition: 500ms ease;
    white-space: nowrap;
}

#toggle + label:after {
    content: "Got it";
}

.container { 
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

#toggle:checked ~ .notification-panel {
    top: 0;
    position: fixed;
}

#toggle:checked ~ .container {
    margin-top: 8rem;
}

#toggle:checked + label:after {
    content: "Got it";
}

#showcase{
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.6;
    background-image: url('/assets/work-desk__dustin-lee.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    height:100vh;
    position: relative;    
    .heroshot{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;     
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align:center;
        padding:0 2rem;
        -webkit-font-smoothing: antialiased;  
        h1{
            line-height: 1.2;
            color: white
        }
        h2 {
            color: white
        }
        p {
            font-size: 1.7rem;
            max-width: 52rem;
            color: white
        }
        .button{
            font-size:1.6rem;
            text-decoration:none;
            text-transform: uppercase;
            color:white;
            border:white 2px solid;
            padding:1rem 2rem;
            border-radius:3px;
            margin-top:2rem;
            font-weight: 550;
            &:hover{
                background:white;
                color: rgba(0, 0, 0, 0.5)
            }
          }
          .logo{
              width: 5rem;
              height: 5rem;
              position: absolute;
              top: 4.3rem;
              left: 4.3rem;
              img{
                  width: 100%;
                  height: 100%;
              }
          }
      }
      .overlay{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 123, 193, 0.3);
      }
}

#hightlight-panel{
    background: $smoke-grey;
    padding: 4rem 3rem;
    font-size: 1.7rem;
    >h1 {
        text-align: center;
        text-transform: capitalize;
        font-weight: 500;
    }
    >p {
        text-align: center;
        margin: 2rem auto
    }
    .tiles{
        display: grid;
        grid-gap: 1.6rem;
        .content{
            padding: 2rem;
            border: 1px solid #cecece;
            .title{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 1.5rem;
                h1{
                    font-weight: 400;
                }
                .logo{
                    i{
                        font-size: 3rem;
                        color: darkgrey
                    }
                }
            }
            p{
                font-size: 1.4rem;
                font-weight: lighter;
                line-height: 1.429;
            }
        }
    }
}

footer{
    padding: 5rem 0;
    background: $dark-blue;
    p{
        font-size: 1.7rem;
        text-align: center;
        color: white;
    }
}

.newsletter-panel{
    max-width: 64rem;
    background: rgba(0, 123, 193, 0.7);
    padding: 1rem 2rem;
    font-size: 1.6rem;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    .close{
        font-size: 2rem;
        text-align: end;
    }
    h2{
        font-weight: 400;
        padding: 0 0;
    }
    p{
        font-size: 1.7rem;
        padding: 1rem 0;
    }
    form {
      padding: 1rem 0;  
        div{
            display: flex;
            flex-direction: row;
            input[type="text"]{
                flex: 1;
                height: 3rem;
                outline: none;
                border: none;
                border-radius: 3px;
                font-size: 1.7rem;
                padding: .5rem 1.5rem;
            }
            input[type="submit"]{
                background: $orange;
                height: 3rem;
                outline: none;
                border: none;
                font-size: 1.7rem;
                padding: .5rem 1.5rem;
                color: white;
                border-radius: 3px;
                margin-left: 1rem;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .notification-panel{
        padding:1.3rem 1.1rem 1.1rem 1.1rem;
        top: -16rem;
        .content{
            flex-direction: column;
            align-items: flex-start;        
            p{
                padding-bottom: 0.8rem;
            }
        }
    }
    
    #toggle:checked ~ .container {
        margin-top: 12rem;
    }

    #hightlight-panel{
        .tiles{
            grid-template-columns: repeat(1,1fr);
        }
    }

    .newsletter-panel form div{
        flex-direction: column;
        input[type="text"]{
            margin: .5rem 0;
        }
        input[type="submit"]{
            margin: .5rem 0;
        }
    }
}

@media screen and (max-width: 363px){
    #toggle:checked ~ .container {
        margin-top: 14rem;
    }    
}

@media (min-width: 960px){
    #hightlight-panel{
        .tiles{
            grid-template-columns: repeat(3,1fr);
        }
    }
}

@media screen and (max-width: 959px) and (min-width: 481px){
    #hightlight-panel{
        .tiles{
            grid-template-columns: repeat(2,1fr);
        }
    }
}